            body{
                background-color: aqua;
                padding-top: 30px;
                padding: 30px 30px 20px 15px;
                text-align: justify;
            }

        nav {
        background-color: rgb(206, 13, 110);
        width: 100%;
        overflow: auto;
        display: inline;
        }

        nav a {
            float: left;
            color: white;
            padding: 10px;
            font-size: 15px;
            width: 17%;
            text-align: center;
            background-color: darkblue;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        nav a:hover {
            background-color: greenyellow;

        }

        img.new {

            width: 20px;
            border-radius: 50px;
        }

        img {
            width: 80px;
            border-radius: 30px;

        }

        table, th, td {
            border: 1px solid black;
            height: auto;
        }

        .three {
            display: flex;
            margin: 20px;
            padding: 20px;
            border-spacing: 10px;
            box-sizing: border-box;
            width: 600px;
        }

        

        
        




